:root{
    --primary-color-1:rgba(255, 196, 0, 0.5);
    --font-size-project-header: 3rem;
    --font-size-project-text: 2.5rem;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Avenir Next,Muli,sans-serif;
}

html{
    font-size: 62.5%;
    background-color: gray;    
}


nav{
    height: 10rem;
    width: 100%;
    min-width: 32rem;  
    background-color: brown;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;

}
section{
    position: relative;
    /* Quitar el scroll hacia los lados */
    overflow: hidden;
}
picture{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec_1{
    height: 50vh;
    width: 100vw;
    background-color: blueviolet;

}

/* tarjetas servicios */
.sec_2{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
    /* background-color: green; */
    justify-content: space-evenly;
    align-items: center;
}

.servicios{
    height: 450px;
    width: 450px;
    background-color: gray;
    border: 1px solid white;
    margin: 5px;
}

/* Curriculo proyectos */
.sec_3{
    height: auto;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

.project_container {
    position: relative;
    height: fit-content;
    width: 100vw;
    text-align: center;
  }


.proj_slide{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.img_project{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 3px white;
}

.head_project{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: orange;
    height: 80px;
    width: 100%;
    
}

.block{
    margin-bottom: 10px;
    position: relative;
    width: 450px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.block img{
    width: 450px;
    height: 350px;
}
.block p{
    width: 100%;
    font-size: var(--font-size-project-text);
    margin-bottom: 5px;
}
.head_project p{
    font-size: var(--font-size-project-header);
}
.hide{
    display: none;   
    /* display: inherit; */
}

.logo_client{
    margin-top: 10px;
    background-color: black;
    width: 150px;
    height: 150px;
}

/* =========================================================================== */


footer{
    margin-top: auto;
    min-width: 32rem;
    height: 10vh;
    width: 100%;
    background-color:var(--primary-color-1);
    color: black;
    text-align: center;
}

