:root{
    --primary-color-1:rgba(255, 196, 0, 0.5);
    --font-size-project-header: 3rem;
    --font-size-project-text: 2.5rem;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Avenir Next,Muli,sans-serif;
}

html{
    font-size: 62.5%;
    background-color: gray;    
}


nav{
    height: 10rem;
    width: 100%;
    min-width: 32rem;  
    background-color: brown;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;

}
section{
    position: relative;
    /* Quitar el scroll hacia los lados */
    overflow: hidden;
}
picture{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;

}


.sec_1{
    height: 50vh;
    width: 100vw;
    background-color: blueviolet;

}

/* tarjetas servicios */
.sec_2{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
    /* background-color: green; */
    justify-content: space-evenly;
    align-items: center;
}

.servicios{
    height: 450px;
    width: 450px;
    background-color: gray;
    border: 1px solid white;
    margin: 5px;
}

/* Curriculo proyectos */
.sec_3{
    height: auto;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}
.header_projects_container{
    height: 100px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}
.slide{
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.project_container {
    position: relative;
    height: fit-content;
    /* width: 100vw; */
    text-align: center;
  }


.proj_slide{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border: solid 5px purple;
    border-radius: 20px;
    width: auto;
    /* background-color: white; */

}

.img_project{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    
}

.head_project{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: orange;
    height: 80px;
    width: 100%;
    
}
.head_round {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px ;
}
.block{
    margin-bottom: 10px;
    position: relative;
    width: 450px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.block img{
    width: 450px;
    height: 350px;
}
.block p{
    width: 100%;
    font-size: var(--font-size-project-text);
    /* margin-bottom: 5px; */
}
.head_project p{
    font-size: var(--font-size-project-header);
}
.hide{
    display: none;   
}

.logo_client{
    margin: 10px;
    background-color: white;
    width: 150px;
    height: 150px;
    
}
.logo_client picture{
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo_client img{
    width: 100%;
    height: auto;
}

.logo_round{
    overflow: hidden;
    border-radius: 100px;
}

/* ================================================================================== */
.modal {
    z-index:1;
    display:none;
    padding-top:10px;
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.8)
    }
    
.modal-content{
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    

.modal-hover-opacity {
    opacity:1;
    filter:alpha(opacity=100);
    -webkit-backface-visibility:hidden;
    }
    .close {
        text-decoration:none;float:right;font-size:32px;font-weight:bold;color:white
    }

.cursor_pointer{
    max-width:100%;
    cursor: pointer;
}
/*==================================================================================  */

/* =========================================================================== */


footer{
    margin-top: auto;
    min-width: 32rem;
    height: 10vh;
    width: 100%;
    background-color:var(--primary-color-1);
    color: black;
    text-align: center;
}

@media (min-width:650px){
    .project_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }

    .img_project{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* justify-content:baseline; */
    }

    .slide{
        height: auto;
        width: 500px;
    }
    .proj_slide{
        height: 700px;
    }
    .hide{
        display: inherit;
    }
    .block{
        width: 50%;
        height: 200px;
    }
    .block img{
        width: 100%;
        height: 100%;
    }
    
    .block .desc_text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .web_size{
        width: 100%;
        display: flex;

    }
    .block .logo_client{
        height: auto;
    }
    .logo_client picture{
        height: 150px;
        width: 150px;
    }
    .logo_client img{
        height: auto;
    }
    .one_img{
        width: 100%;
    }
    .desc_text{
        align-items: center;
        justify-content: center;
        display: table-cell;
        vertical-align: middle;
    }
    .head_project p{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .description p{
        height: 150px;
        width: 100%;
    }
}
